/*---------Clearing out all styles-------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: Arial;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------------- NAV BAR ------------------------*/

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #445161;
  z-index: 2;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;

}
.header__logo {
  flex: 0 0 80px;
  z-index: 3;
}
.header__logo img {
  max-width: 100%;
}
.header__burger {
  display: none;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  list-style: none;
  margin: 0 0 0 20px;
  padding: 15px 0;
}
.header__list li:hover {
  border-bottom: 1px solid red;
  transition: 30ms;
}
.header__link {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}
@media (max-width: 767px){
  body.lock{
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    flex: 0 0 40px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span{
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header__burger:before,
  .header__burger:after{
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger:before{
    top: 0;
  }
  .header__burger:after{
    bottom: 0;
  }
  .header__burger.active span{
    transform: scale(0);
  }
  .header__burger.active:before{
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after{
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #445170;
    padding: 70px 0 10px 20px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li{
    margin: 0 0 20px 0;
  }
}

/*--------------------CONTENT GENERAL-----------------------*/
.content {
  flex: 1 1 auto;

}
.content__text {
  font-size: 16px;
  line-height: 25px;
}
.content__text p {
  margin: 0 0 30px 0;
}
@media (max-width: 767px){
  .content {
    padding: 70px 0 0 0;
  }
}
/*-----------------------HEAD SCREEN-----------------------*/

.main-screen {
  position: relative;
  max-width: 100%;
  height: 800px;
  padding: 50px 0;
}
.main-screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-screen__image img {
  filter: grayscale(100%) opacity(0.7) hue-rotate(90deg);
  object-position: bottom;
}
.main-screen__body {
  padding: 80px 0 0 0;
  width: 80%;
  margin: auto;
  position: relative;
  z-index: 2;
  text-align: center;
}
.main-screen__title {
  color: red;
  font-size: 60px;
  font-weight: 700;
  line-height: 120%;
  margin: 0 0 40px 0;
}
.main-screen__subtitle {
  font-size: 30px;
  font-weight: 400;
  line-height: 120%;
  color: red;
}


/*---------------FOOTER------------------*/

.footer {
  padding: 10px 0 10px 0;
  background-color: #445161;
  height: auto;
  color: whitesmoke;
  font-size: 14px;
  line-height: 20px;
}
.footer__top {
  border-bottom: 1px solid whitesmoke;
}

.top__row {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0 40px 0;
}
.top__menu a {
  color: whitesmoke;
}
.footer__bottom {
  margin: 20px 0 0 0;
}
.bottom__row {
  display: flex;
}
.bottom__copyright {
  flex: 1 1 600px;
}
.bottom__icons {
  flex: 0 0 50px;
  margin-top: -15px;
}
.bottom__icons img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*-----------------UPCOMMING EVENTS------------------*/

.upcomming-events {
  padding: 60px 0;
  background-color: rgb(238, 230, 230);
}
.upcomming-events__title {
  margin: 0 0 30px 0;
  padding: 30px 0;
}
.title {
  font-size: 36px;
  line-height: 30px;
  color: black;
  text-align: center;
  border-bottom: 3px solid red;
  width: fit-content;
  margin: auto;
}
.upcomming-events__body {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 0 20px 0;
}
.upcomming-events__row {
  padding: 0 -15px;
  display: flex;
  margin: 50px 0 0 0;
}
.upcomming-events__column {
  margin: 0 15px;
  flex: 0 1 33.333%;
  display: flex;
  filter: drop-shadow(0 0 0.40rem rgb(141, 137, 137));
}
.item-upcomming-events {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.item-upcomming-events__picture {
  height: 200px;
  border: 5px solid grey;
}
.item-upcomming-events__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-upcomming-events__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin: 15px 0;
}
.item-upcomming-events__venue {
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px black;
  margin-bottom: 20px;
}
.item-upcomming-events__preview {
  font-size: 15px;
  line-height: 20px;
  text-align: justify;
  margin: 0 0 20px 0;
  flex: 1 1 auto;
}
.item-upcomming-events__buttom {
  
  margin: 0 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid red;
  border-radius: 5px;
  font-size: 18px;
}
.item-upcomming-events__buttom:hover {
  background-color: red;
  color: white;
}
.item-upcomming-events__buttom a {
  color: black;
}
.upcomming-events__buttom {
  padding: 60px 0 0 0;
}
.buttom-calendar__body {
  margin: 0 auto;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 5px;
  max-width: 200px;
  text-align: center;
  background-color: red;
}
.buttom-calendar__body:hover {
  background-color: white;
}
.buttom-calendar__text a {
  color: black;
}

/*-------------------WELCOME-------------------------*/

.welcome {
  padding: 60px 0 60px 0;
  align-items: center;
  border-bottom: 1px solid grey;
}
.welcome__title {
  padding: 40px 0 20px 0;
}
.welcome__row {
  margin:40px 0 30px 0;
  display: flex;
  justify-content: center;

}
.welcome__text-body {
  flex: 0 1 600px;
  padding: 0 -15px 0 0;
}
.welcome__text {
  font-size: 20px;
  line-height: 26px;
}
.welcome__signature {
  margin: 20px 0 0 0;
  padding: 0 0 0 20px;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
  border-left: 3px solid red;
}
.welcome__image {
  flex: 0 0 300px;
  margin: 0 0 0 15px;
}
.welcome__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.welcome__subtitle {
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  padding: 40px 0;
}
.welcome__numbers {
  padding: 20px 0;
}
.numbers-welcome {
}
.numbers__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -20px;
}
.numbers__column {
  flex: 0 1 20%;
  padding: 0 20px;
}
.numbers__element {
  text-align: center;

}
.numbers__digit {
  color: red;
  font-size: 40px;
  line-height: 120%;
  font-weight: 600;
  padding: 0 0 15px 0;

}
.numbers__text {
  font-size: 20px;
  line-height: 120%;
}

/*--------------------CLIENTS-----------------------------------*/

.clients {
  padding: 60px 0;
  border-bottom: 1px solid grey;
}
.clients__title {
  padding: 40px 0 20px 0;
}
.clients__row {
  padding: 40px 0 20px 0;
  filter: grayscale(100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.clients__item {
  padding: 20px 15px;
  flex: 0 1 20%;
  min-width: 140px;
}
.clients__item img {
  max-width: 80%; 
}

/*------------------------AREAS OF SEMIMNARS------------------*/

.areas {
  background-color: rgb(238, 230, 230);
  padding: 60px 15px;
}
.areas__title {
  padding: 30px 0 20px 0;
}
.areas__body {
  padding: 40px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  justify-content: center;
  text-align: center;
}
.areas__column {
  padding: 0 15px;
  flex: 0 1 25%;
}
.areas__element {
  filter: drop-shadow(0 0 0.40rem rgb(141, 137, 137));
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}
.areas__element:hover {
  background-color: red;
  transition: 30ms;
}
.element-area {
  margin: 15px 0;
  min-height: 170px;
  min-width: 250px;
}
.element-area__icon {
  filter: grayscale(100%);
  margin: 0 0 15px 0;
}
.element-area__icon img {
  max-width: 40px;
  max-height: 40px;
}
.element-area__title {
  font-size: 18px;
  font-weight: 800px;
  line-height: 24px;
}
.element-area__title a {
  color: black;
}

/*----------------------------SERVICES-------------------------*/

.services {
  padding: 100px 0;
}
.services__body {
}
.services__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 -15px;
}
.service-item {
  padding: 0 15px;
  flex: 0 1 33.333%;
}
.service-item__circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid red;
  background-color: rgb(238, 230, 230);
  display: flex;
  justify-content: center;
  margin: auto;
}
.service-item__icon {
  padding: 57px 0 0 0;
  height: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-self: center;
}
.service-item__icon img {
  height: 50px;
}
.service-item__title {
  margin: 25px 0 10px 0;
  font-size: 24px;
  line-height: 130%;

}
.service-item__text {
  padding: 15px 20px;
  font-size: 18px;
  line-height: 130%;
  color: grey;
}

/*---------------------SINGLE COURSE--------------------------*/


.course {
  background-color: royalblue;
}
.course__header {
}
.header-course__title {
  font-size: 36px;
  line-height: 130%;
  font-weight: 600;
  text-align: center;
  padding: 80px 0 80px 0;
}
.header-course__subtitle {
  font-size: 24px;
  line-height: 130%;
  color: whitesmoke;
  margin: auto;

}
.course__description {
  font-size: 18px;
  line-height: 120%;
  margin: 40px 0;
}

/*-------------------------ABOUT US PAGE ---------------------------*/

.about-us {
}

.about-us__title {
}
.about-us__video {
}
.video__body {
  display: flex;
  justify-content: center;
}
.video__body iframe {
  max-width: 800px;
  flex: 0 1 auto;
}
.values {
}
.values__title {
}
.title {
}
.values__body {
}
.values__row {
}
.values__column {
}
.values__element {
}
.element-values__icon {
}
.element-values__text {
}
.mission {
}
.mission__title {
}
.mission__aim {
}
.aim__body {
}
.aim__text {
}
.aim__picture {
}
.mission__subtitle {
}
.mission__text {
}
.video-review {
}
.video-review__row {
  display: flex;
  justify-content: center;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.video-review__column {
  padding: 0 15px;
  flex: 0 1 50%;
}
.video-review__item { 
}