<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наша компания</title>
    <link rel="stylesheet" href="/bizeducateapp/static/styles/style.css">
</head>
<body>
    <div class="wrapper">
        <section class="about-us">
            <div class="container">
                <h1 class="about-us__title">Информация о компании</h1>
                <div class="about-us__video">
                    <div class="video__body">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/pNL1SXjztr8" title="YouTube video player"
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>
        <section class="values">
            <div class="container">
                <div class="values__title title">Наши ценности</div>
                <div class="values__body">
                    <div class="values__row">
                        <div class="values__column">
                            <div class="values__element">
                                <div class="element-values__icon">
                                    <img src="" alt="">
                                </div>
                                <div class="element-values__text">Личностный рост и развитие</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mission">
            <div class="container">
                <div class="mission__title title">Наша миссия</div>
                <div class="mission__aim">
                    <div class="aim__body">
                        <div class="aim__text">Задание BizEducate — выведение среднего и крупного бизнеса на новый уровень с учетом улучшения жизни людей в той стране,
                        где находится предприятие. Это выплата налогов в госбюджет, создание новых рабочих мест, повышение квалификации
                        сотрудников, соцпакеты, охрана труда, благотворительные социальные программы, внедрение экологичных технологий для
                        сохранения окружающей среды.</div>
                        <div class="aim__picture">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
                <h3 class="mission__subtitle">С помощью семинаров, тренингов и консалтинга с мировыми профессионалами наша компания стремится:</h3>
                <div class="mission__text">
                    <ul>
                        <li>Помочь фирмам снизить финансовые риски и повысить репутацию.</li>
                        <li>Выстроить корпоративное управление, отвечающее передовым стандартам, а также систему соответствия внутренних
                            правил
                            компании международным нормам. В СНГ корпоративная комплаенс-идеология только зарождается. Для большинства
                            развитых
                            государств различные направления комплаенс-контроля стали нормой для всех отраслей бизнеса и
                            хозяйственно-экономической
                            деятельности.</li>
                        <li>Обучить новое поколение менеджеров выявлять внутрикорпоративное мошенничество, взяточничество, отмывание денег,
                            оценивать риски для бизнеса; помочь интегрироваться в международное сообщество противодействия
                            коррупции.Обеспечить
                            доступ компаний к новейшим знаниям и технологиям для дальнейшего развития на мировом рынке. Мы формируем
                            потребность,
                            создавая ценность знаний и необходимость повышения квалификации. Наши клиенты получают рекомендации от
                            авторитетных
                            консультантов, изучают опыт других компаний, расширяют круг деловых знакомств.Создать сообщество управленцев с
                            главными ценностями: репутация, этика, прозрачная деятельность в правовом поле. Наши тренинги — перезагрузка
                            мышления руководителей с опытом и нового поколения менеджеров.</li>
                        <li>Создать сообщество управленцев с главными ценностями: репутация, этика, прозрачная деятельность в правовом поле.
                            Наши
                            тренинги — перезагрузка мышления руководителей с опытом и нового поколения менеджеров.</li>
                    </ul>
                </div>
                <h3 class="mission__subtitle">Наше видение реализации миссии:</h3>
                <div class="mission__text">
                    <ul>
                        <li>на рынке появится больше компаний, способных повысить качество жизни в стране прописки;</li>
                        <li>инвесторы станут больше доверять компаниям развивающихся рынков, что способствует появлению новых проектов;</li>
                        <li>снизится уровень коррупции (в том числе на государственном уровне) и корпоративного мошенничества;</li>
                        <li>государство на законодательном уровне создаст благоприятные условия для развития бизнеса.</li>
                    </ul>
                    <p>Наша миссия будет достигнута тогда, когда страны СНГ войдут в первую тридцатку рейтинга благополучных и процветающих
                    стран.</p>
                </div>
            </div>
        </section>
        <div class="video-review">
            <div class="video-review__row">
                <div class="video-review__item1">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zo-35Efe9Fg" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="video-review__item2">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/DEhcuFwPU3o" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>