<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}" type="text/css">
</head>
<body>
    <div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="header__body">
					<a href="#" class="header__logo">
						<img src="/bizeducateapp/static/logo_transparent_white.png" alt="logo">
					</a>
					<div class="header__burger">
						<span></span>
					</div>
					<nav class="header__menu">
						<ul class="header__list">
							<li>
								<a href="" class="header__link">Главная</a>
							</li>
							<li>
								<a href="" class="header__link">О компании</a>
							</li>
							<li>
								<a href="" class="header__link">Календарь событий</a>
							</li>
							<li>
								<a href="" class="header__link">Блог</a>
							</li>
							<li>
								<a href="" class="header__link">Отзывы</a>
							</li>
							<li>
								<a href="" class="header__link">Контакты</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div class="content">
            {% block content %}

            {% endblock %}		
		<footer class="footer">
			<div class="container">
				<div class="footer__top">
					<div class="top__row">
						<div class="top__menu">
							<a href="#">Документы</a><br>
							<a href="#">Политика конфиденциальности</a><br>
							<a href="#">Отзывы</a>
						</div>
						<div class="top__address">
							АДРЕС<br> 1417
							Kemp House<br>
							152-160 City Road<br>
							London EC1V 2NX<br>
							United Kingdom
						</div>
						<div class="top__contacts">
							Tel: +44 20 3695 3407 (London)<br>
							Tel: +7 7172 695 933 (Nur-Sultan)<br>
							E-mail: office@bizeducate.com<br>
							Skype: bizeducate.com
						</div>
					</div>
				</div>
				<div class="footer__bottom">
					<div class="bottom__row">
						<div class="bottom__copyright">Copyright © 2008 - 2021 Bizeducate</div>
						<div class="bottom__icons">
							<img src="/bizeducateapp/static/logo_transparent_white.png" alt="logo">
						</div>
					</div>
				</div>
			</div>
		</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/bizeducateapp/static/styles/script.js"></script> 
</body>
</html>