{% extends 'base.html' %}

{% block content %}
  <div class="head-banner">
    <div class="head-banner__box">
      <div class="container">
        <div class="head-banner__title">Contact Us</div>
        <div class="head-banner__address">
          <ul>
            <li>Address: 160 City Road, London, EC1V 2NX, United kingdom</li>
            <li>Tel. 020 6633 9876</li>
            <li>E-mail: office@bizeducate.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-us__body">
    <div class="container">
      <div class="contact-us__text">We're excited to learn more about your training and travel requirements!<hr/> The more information we have, the deeper we can dive on our initial conversation.</div>
      <div class="contact-us__form">
        <form action="#" id="form" class="form__body">
          <div class="form__item">
            <label for="formName" class="form__label">Name *</label>
            <input type="text" id="formName" name="name" class="form__input">
          </div>
          <div class="form__item">
            <label for="formCompany" class="form__label">Company *</label>
            <input type="text" id="formCompany" name="company" class="form__input">
          </div>
          <div class="form__item">
            <label for="formEmail" class="form__label">Email *</label>
            <input type="email" id="formEmail" name="email" class="form__input">
          </div>
          <div class="form__item">
            <label for="formPhone" class="form__label">Phone number</label>
            <input type="tel" id="formPhone" name="phone" class="form__input">
          </div>
          <div class="form__item">
            <label for="formMessage" class="form__label">Message</label>
            <textarea name="textmessage" id="formMessage" class="form__input" placeholder="Type your message"></textarea>
          </div>
          <div class="form__item">
            <div class="form__checkbox">
              <input id="formAgreement" type="checkbox" name="agreement" class="checkbox__input">
              <label for="formAgreement" class="checkbox__label"><span>I agree that after submition of this form my personal details will be processed.</span></label>
            </div>
          </div>
          <button type="submit" class="form__button">Send</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}