<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home page</title>
	<link rel="stylesheet" href="/bizeducateapp/static/styles/style.css">
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="header__body">
					<a href="#" class="header__logo">
						<img src="/bizeducateapp/static/logo_transparent_white.png" alt="logo">
					</a>
					<div class="header__burger">
						<span></span>
					</div>
					<nav class="header__menu">
						<ul class="header__list">
							<li>
								<a href="" class="header__link">Главная</a>
							</li>
							<li>
								<a href="" class="header__link">О компании</a>
							</li>
							<li>
								<a href="" class="header__link">Календарь событий</a>
							</li>
							<li>
								<a href="" class="header__link">Блог</a>
							</li>
							<li>
								<a href="" class="header__link">Отзывы</a>
							</li>
							<li>
								<a href="" class="header__link">Контакты</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div class="content">
			<section class="main-screen">
				<div class="container">
					<div class="main-screen__body">
						<div class="main-screen__title">Помогаем выходить на новый уровень в своей професии</div>
						<h1 class="main-screen__subtitle">Для этого, мы проводим международные семинары и издаем профильный журнал в сфере корпоративного управления, рисков и комплаенса</h1>
					</div>
				</div>
				<div class="main-screen__image _ibg">
					<img src="/bizeducateapp/static/training.jpg" alt="cover">
				</div>
			</section>
			<section class="upcomming-events">
				<div class="container">
					<div class="upcomming-events__title title">Ближайшие мероприятия</div>
					<div class="upcomming-events__body">
						<div class="upcomming-events__row">
							<div class="upcomming-events__column">
								<div class="item-upcomming-events">
									<div class="item-upcomming-events__picture">
										<img src="/bizeducateapp/static/amsterdam3.jpg" alt="">
									</div>	
									<div class="item-upcomming-events__title">Стратегическое планирование закупочной деятельности
									</div>
									<div class="item-upcomming-events__venue">Вена, 5 - 8 июля 2020
									</div>
									<div class="item-upcomming-events__preview">Интенсивный семинар вооружит делегатов передовыми навыками и знаниями, которые помогут осуществить переход от
									оперативных к стратегическим закупкам.
									</div>
									<div class="item-upcomming-events__buttom">
										<a href="#">Подробнее</a>
									</div>
								</div>
							</div>
							<div class="upcomming-events__column">
								<div class="item-upcomming-events">
									<div class="item-upcomming-events__picture">
										<img src="/bizeducateapp/static/PRAGUE_06.jpg" alt="">
									</div>
									<div class="item-upcomming-events__title">Стратегический маркетинг. Позиционирование на международных рынках. Перспективы экспортного кредитования
									</div>
									<div class="item-upcomming-events__venue">Рим, 1 - 8 июля 2021
									</div>
									<div class="item-upcomming-events__preview">Передовой опыт выхода на международные рынки в банковской отрасли, установление деловых контактов для развития
									экспортного финансирования.
									</div>
									<div class="item-upcomming-events__buttom">Подробнее
									</div>
								</div>
							</div>
							<div class="upcomming-events__column">
								<div class="item-upcomming-events">
									<div class="item-upcomming-events__picture">
										<img src="/bizeducateapp/static/Vienna.jpg" alt="">
									</div>
									<div class="item-upcomming-events__title">Английское контрактное право. Практические аспекты
									</div>
									<div class="item-upcomming-events__venue">Лондон, 3 - 8 июля 2021
									</div>
									<div class="item-upcomming-events__preview">Слушатели смогут повысить квалификацию в области контрактного права посредством участия в интерактивном курсе и решении
									тестовых заданий по отдельным видам договоров.
									</div>
									<div class="item-upcomming-events__buttom">Подробнее
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="welcome">
				<div class="container">
					<div class="welcome__title title">Добро пожаловать в нашу компанию!</div>
					<div class="welcome__row">
						<div class="welcome__text-body">
							<div class="welcome__text">Бизнесу важно иметь значимую цель – для постоянного роста и сплочения коллектива. Даже креативные трудоголики без серьезной задачи остаются обычными работниками.
								Основная цель нашей команды — повысить качество жизни людей постсоветского пространства. Этот выбор определил главную миссию BizEducate. Мы помогаем компаниям вводить передовые стандарты корпоративного управления, выстраивать системы внутреннего контроля и соответствия, повышать конкурентоспособность на мировом рынке.</div>
							<div class="welcome__signature">Максим Андрейцив<br>Генеральный директор<br>Компания « BizEducate »</div>
						</div>
						<div class="welcome__image">
							<img src="/bizeducateapp/static/maksym.jpg" alt="Director">
						</div>
					</div>
				</div>
			</section>
			<section class="areas">
				<div class="container">
					<div class="areas__title title">Направления семинаров</div>
					<div class="areas__row">
						<div class="areas__element">
							<div class="areas__content">
								<a href="#">Финансы</a>
							</div>
						</div>
						<div class="areas__element">
							<div class="areas__content">
								<a href="#">Корпоративное управление</a>
							</div>
						</div>
						<div class="areas__element">
							<div class="areas__content">
								<a href="#">Комплаенс</a>
							</div>
						</div>
						<div class="areas__element">
							<div class="areas__content">
								<a href="#">Закупки</a>
							</div>
						</div>
						<div class="areas__element">
							<div class="areas__content">
								<a href="#">Юриспруденция</a>
							</div>
						</div>
						<div class="areas__element">
							<div class="areas__content">
								<a href="#">Строительные проекты</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="clients">
				<div class="container">
					<div class="clients__title title">Наши семинары посетили:</div>
					<div class="clients__row">
						<div class="clients__item">
							<img src="/bizeducateapp/static/clients logo/ferrexpo.png" alt="ferrexpo">
						</div>
						<div class="clients__item">
							<img src="/bizeducateapp/static/clients logo/gazprom_neft.png" alt="gazprom_neft">
						</div>
						<div class="clients__item">
							<img src="/bizeducateapp/static/clients logo/interpipe.jpg" alt="interpipe">
						</div>
						<div class="clients__item">
							<img src="/bizeducateapp/static/clients logo/karachaganak.png" alt="karachaganak">
						</div>
						<div class="clients__item">
							<img src="/bizeducateapp/static/clients logo/kazchrome.jpg" alt="kazchrome">
						</div>
						<div class="clients__item">
							<img src="/bizeducateapp/static/clients logo/kmg.png" alt="KMG">
						</div>
						<div class="clients__item">
							<img src="/bizeducateapp/static/clients logo/Ministry_of_Energy_and_Coal_Mining_of_Ukraine.svg.png"
								alt="Ministry_of_Energy">
						</div>
						<div class="clients__item">
							<img src="/bizeducateapp/static/clients logo/nazarbayev_university.png" alt="nazarbayev_university">
						</div>
						<div class="clients__item">
							<img src="/bizeducateapp/static/clients logo/socar.png" alt="socar">
						</div>
					</div>
				</div>
			</section>
		<footer class="footer">
			<div class="container">
				<div class="footer__top">
					<div class="top__row">
						<div class="top__menu">
							<a href="#">Документы</a><br>
							<a href="#">Политика конфиденциальности</a><br>
							<a href="#">Отзывы</a>
						</div>
						<div class="top__address">
							АДРЕС<br> 1417
							Kemp House<br>
							152-160 City Road<br>
							London EC1V 2NX<br>
							United Kingdom
						</div>
						<div class="top__contacts">
							Tel: +44 20 3695 3407 (London)<br>
							Tel: +7 7172 695 933 (Nur-Sultan)<br>
							E-mail: office@bizeducate.com<br>
							Skype: bizeducate.com
						</div>
					</div>
				</div>
				<div class="footer__bottom">
					<div class="bottom__row">
						<div class="bottom__copyright">Copyright © 2008 - 2021 Bizeducate</div>
						<div class="bottom__icons">
							<img src="/bizeducateapp/static/logo_transparent_white.png" alt="logo">
						</div>
					</div>
				</div>
			</div>
		</footer>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>